<% provide(:title, "Users")%>

<p>ユーザー検索</p>
  <p>
    <%= form_tag users_path, method: :get  do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag 'Search', name: :nil %>
    <% end %>
  </p>
  
<%= will_paginate %>

<ul class="users">
    <%= render @users %>
</ul>

<%= will_paginate %>