<% provide(:title, @user.name )%>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 profile">
      <div class="avatar">
        <h1>
          <%= gravatar_for @user %><br>
          <%= @user.name %>
        </h1>
      </div>
      <div class="description">
        <p>
        <%= simple_format(@user.content) %>
        </p>
      </div>
      <div class="info">
        <ul>
          <li>ジャンル：<%= @user.genre %></li>
          <li>パート：<%= @user.part %></li>
          <li>好きなアーティスト：<%= @user.artist %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12 selecter">
      <div class="row bar">
        <div class="col-xs-4 box-btn">
        <%= link_to "post", "#", class: "text" %>
        </div>
        <div class="col-xs-4 box-btn">
        <%= link_to "following", "#", class: "text" %>
        </div>
        <div class="col-xs-4 box-btn">
        <%= link_to "follower", "#", class: "text" %>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <ol>
        <%= render @post %>
        </ol>
      </div>
    </div>
  </div>
</div>
