<li class="post_li">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="name"><%= post.user.name%></span><br>
  <%= link_to post_path(post.id) do %><span class="subject"><%= post.subject %></span><% end %><br>
  <span class="created_at"><%= time_ago_in_words(post.created_at) %> ago</span>
</li>