<div>
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="name"><%= post.user.name %></span>
  <ul>
    <li>
      Genre:<%= user.post.genre %>
    </li>
    <li>
      Part:<%= user.post.part %>
    </li>
    <li>
      Age:<%= user.post.age %>
    </li>
    <li>Content</li>
    <p>
      <%= user.post.content %>
    </p>
  </ul>
  <span class="created_at"><%= time_ago_in_words(posts.created_at) %> ago</span>
</div>