<div class="row post_show"> 
  <div class="col-md-9 panel panel-default box">
    <div class="panel-heading">
      <h1 class="panel-title p-subject"><%= @post.subject %></h1>
    </div>
    <div class="panel-body">
      <p>
        <%= simple_format(@post.content) %>
      </p>
      <hr class="my-4">
      <ul class="post_ul">
        <li>
          Genre: <%= @post.genre %>
        </li>
        <hr class="my-4">
        <li>
          Part: <%= @post.part %>
        </li>
        <hr class="my-4">
        <li>
          Age: <%= @post.age %>
        </li>
        <hr class="my-4">
      </ul>
      <% if current_user?(@post.user) %>
        <%= link_to "Edit", edit_post_path, class: "btn btn-success btn-sm" %>
      <% end %>
      <span class="created_at"><%= time_ago_in_words(@post.created_at) %> ago</span>
    </div>
  </div>
  <div class="col-md-3 side-profile">
    <%= link_to gravatar_for(@post.user, size: 50), @post.user %>
    <span><%= @post.user.name %></span>
    <hr class="my-4">
    <p><%= @post.user.content %></p>
    <hr class="my-4">
    <ul>
      <li>Part: <%= @post.user.part %></li>
      <li>Genre: <%= @post.user.genre %></li>
      <li>Artist: <%= @post.user.artist %></li>
    </ul>
    <hr class="my-4">
  </div>
  <div class="col-md-9 panel panel-default box">
    <div class="panel-heading" style="background-color: #95cc4a;">
      <h1 class="panel-title p-subject">Chat Room</h1>
    </div>
    <form class="chat-form">
      <textarea type="text" data-behavior="room_speaker" placeholder="Please input here"></textarea>
    </form>
    <div id="messages" class="panel-body">
      <%= render @messages %>
    </div>
  </div>
</div>