<header class="navbar navbar-fixed-top navbar-dar" style="background-color: #50aba9;">
  <div class="container">
    <%= link_to "Band app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path do %>
          <%= fa_icon("home lg icon") %>Home
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <%= fa_icon("home lg icon") %>Log in
          <% end %>
        </li>
         <li>
          <%= link_to "#" do %>
          <%= fa_icon("bars lg icon") %>Menu
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
          <%= fa_icon("bars lg icon") %>Users
          <% end %>
        </li>
      </ul>
    </nav>
    


  </div>
</header>